.container {
	display:grid;
	grid-template-columns: 2fr 4fr;
	padding:2vw;
}

.form {
	margin-right:1.5em;
	position: sticky;
	background-color: #eee8d5;
	border-radius: 16px;
	padding: 0px 20px 0px 20px;
}

.content {
	height: 450px;
	overflow: scroll;
	/* border: 2px solid #845ec2; */
	border-radius: 16px;
	background-color: #eee8d5;
	padding: 14px;
}

.content > h2, .form > h2 {
	padding: 20px;
	margin: 20px;
	text-align: center;
}
td {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content::-webkit-scrollbar {
    width: 1em;
}
 
.content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.note-title {
	font-size: 2em;
	color: #586e75;
	display: flex;
	justify-content: space-between;
}

.note-description {
	font-size:1.2em;
}

input::placeholder, textarea::placeholder {
	color: #323232;
	font-weight: 400;
}

input, textarea {
	color: #323232;
	font-weight: 590;
	background-color:rgba(255,255,255,0.9);
}